@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {width: 10px;}
html::-webkit-scrollbar-track { 
    background : #d6d6d7;
    border-radius: 10px;}
html::-webkit-scrollbar-thumb { 
    background : rgba(255,255,255,0.5);
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);}